{% extends "layout.html" %}
{% block content %}

<div class="row card">
	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
	<!-- put class img here cta hook -->
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat unde libero dignissimos eligendi minima, autem voluptates ea assumenda mollitia. Dolores nostrum exercitationem accusamus repudiandae expedita maiores nobis, eum, consectetur sit, consectetur adipisicing elit. Hic quae molestias similique laborum inventore ipsum, magnam, tempora voluptas labore deleniti distinctio quis amet sunt ipsa eos in neque cumque, itaque! Ratione voluptates tempora voluptatibus facere, saepe porro deleniti laudantium harum?</p>
		
	</div>


	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home-sidecard">
		<h4>Summer Sale</h4>
		<h3>50% OFF</h3>
		<a href="/women"><button class="btn btn-custom" id="btn-first">SHOP WOMEN</button></a>
		<a href="/men"><button class="btn btn-custom">SHOP MEN</button></a>
	</div>
</div>


<div class="row card">	
	<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" id="asdf">
	<!-- <div class="home-shop">
	<button class="btn btn-shop">SHOP WOMEN</button>
	<button class="btn btn-shop">SHOP MEN</button>
	</div> -->
	</div>
</div>



<div class="row card card-last">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 looks-header">
		<!-- pull content head then split this into 4 frames w. default content -->
		<h2>#AEOSTYLE</h2>

	</div>

	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 look">
		<img class="look-img" src="../static/img/look1.jpg" alt="">
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 look">
		<img class="look-img" src="../static/img/look2.jpg" alt="">
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 look">
		<img class="look-img" src="../static/img/look3.jpg" alt="">
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 look">
		<img class="look-img" src="../static/img/look4.jpg" alt="">
	</div>
</div>

{% endblock %}
