{% extends "layout.html" %}
{% block content %}

<div class="row card">
	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
	<p>Cupcake ipsum dolor sit amet wafer. Candy canes chocolate bar sweet macaroon topping cotton candy topping carrot cake chocolate bar. Dessert cake powder candy canes caramels sweet roll tart. Cake danish icing ice cream lemon drops lemon drops. Tootsie roll jujubes caramels icing carrot cake. Macaroon cupcake tart muffin chocolate bar sesame snaps liquorice macaroon. Cheesecake cotton candy dragée sweet roll tootsie roll lemon drops chocolate pastry cotton candy. Donut apple pie marzipan sweet roll cookie oat cake topping. Chupa chups chocolate cake brownie candy chocolate cake cookie candy. Dragée donut brownie tiramisu cheesecake jelly-o soufflé jelly. Halvah liquorice ice cream powder gummi bears ice cream. Cotton candy caramels chocolate cake caramels cheesecake chupa chups sweet roll. Sweet jelly beans cookie marzipan cupcake wafer. Tart croissant oat cake chocolate.</p>
		
	</div>


	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home-sidecard">
		<h4>Summer Sale</h4>
		<h3>50% OFF</h3>
		<a href="/women"><button class="btn btn-custom" id="btn-first">SHOP WOMEN</button></a>
		<a href="/men"><button class="btn btn-custom">SHOP MEN</button></a>
	</div>
</div>


<div class="row card">	
	<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" id="splash">
	</div>
</div>



<div class="row card card-last">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 looks-header">
		<!-- pull content head then split this into 4 frames w. default content -->
		<h2>#AEOSTYLE</h2>

	</div>

	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 look">
		<img class="look-img" src="../static/img/look1.jpg" alt="">
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 look">
		<img class="look-img" src="../static/img/look2.jpg" alt="">
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 look">
		<img class="look-img" src="../static/img/look3.jpg" alt="">
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 look">
		<img class="look-img" src="../static/img/look4.jpg" alt="">
	</div>
</div>

{% endblock %}
