{% extends "layout.html" %}


{% block content %}

<!-- content here -->

<!-- TODO: impl product images in first card. 2) impl reviews card and holder. -->

<link rel="stylesheet" href="../../../static/css/style.css">

<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-12 card">
    <img src="../../../static/img/product/{{item.id}}.jpg" alt="">
	
	</div>  <!-- end carousel card -->

	<div class="col-lg-5 col-md-5 col-sm-12 card card-item">
		<h2>{{item.name}}</h2>
		<hr>
		<!-- may want fa rating here -->
		<h4 class="item-description">{{item.description}}</h4>
		

		<select class="form-control">
		    <option value="one">Small</option>
		    <option value="two">Medium</option>
		    <option value="three">Large</option>
		</select>

		<select class="form-control">
		    <option value="one">1</option>
		    <option value="two">2</option>
		    <option value="three">3</option>
		    <option value="four">4</option>
		    <option value="five">5</option>
		</select>

		<button class="btn btn-buy">Add to Cart</button>

	</div> <!-- End item-details card -->

	



</div>


{% endblock %}