{% extends "layout.html"%}


{% block content %}
<!-- content here -->

<script src="//apis.google.com/js/platform.js?onload=start"> </script>

<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

<div class="row">
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
  
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 card card-login">
  <h2>Login or Sign Up</h2>
  <hr>
  <br>
        <!-- GOOGLE PLUS SIGN IN-->
                  
                  <div id="signInButton">
                  <span class="g-signin"
                    data-scope="openid email"
                    data-clientid="853523074821-356l5h8roleucustfito6k88dg8lr9u5.apps.googleusercontent.com"
                    data-redirecturi="postmessage"
                    data-accesstype="offline"
                    data-cookiepolicy="single_host_origin"
                    data-callback="signInCallback"
                    data-approvalprompt="force">
                  </span>
                </div>

        <div id="result"></div>

        <script>
        function signInCallback(authResult) {
          if (authResult['code']) {
            // Hide the sign-in button now that the user is authorized
            $('#signinButton').attr('style', 'display: none');
            // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
            $.ajax({
              type: 'POST',
              url: '/gconnect?state={{STATE}}',
              processData: false,
              data: authResult['code'],
              contentType: 'application/octet-stream; charset=utf-8',
              success: function(result) {
                // Handle or verify the server response if necessary.
                if (result) {
                  $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                 setTimeout(function() {
                  window.location.href = "/";
                 }, 2000);
                  
              } else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error']);
          } else {
                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                 }
              }
              
          }); } }
        </script>

<!--END GOOGLE PLUS SIGN IN -->
      <p>Login with Google account verification for your security and peace of mind.</p>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
</div> <!-- END ROW -->


{% endblock %}
